.post{
    display: flex;
    max-width: 600px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid lightblue;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: rgba(255,69,0, 0.4) -5px 5px, rgba(255,69, 0, 0.3) -10px 10px, rgba(255,69, 0, 0.2) -15px 15px, rgba(255,69, 0, 0.1) -20px 20px, rgba(255,69, 0, 0.05) -25px 25px;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
}
.post_image{
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
}
.post_text {
    margin: 20px 0px 20px 20px;
    font-weight: normal;
    padding: 5px;
}
.post_form{
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
}
.post_input{
    flex: 1;
}
.add_rating{
    margin: 20px 0px 20px 20px;
    font-weight: normal;
    padding: 5px;
}
.options_button{
    background-color: #EE4B2B !important;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
}
.delete_text{
    color: white;
}
.settings_button{
    border-radius: 10px !important;
    background-color: #D89848 !important;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
}
.user_header{
    width: 600px;
}