* {
  margin: 0;
}
@font-face {
  font-family: 'billabongregular';
  src: url('fontsfree-net-billabong-webfont.woff2') format('woff2'),
    url('fontsfree-net-billabong-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.app_name{
  font-family: 'billabongregular';
  font-size: 50px;
  margin-left: 10px;
  margin-top: 10px;
}
.app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 5px;
}
.app_signinBtn {
  margin-right: 20px !important;
}
.add_post{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 50px;
  margin-right: 50px;
}